<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="survey">
        <form action="/result" method="POST">
            <p class="name">Your Name:</p>
            <input type="text" name="Name" class="inputName">
            <p class="location">Dojo Location:</p>
            <select name="Location" class="inputLocation">
                <option value="Seattle">Seattle</option>
                <option value="Boise">Boise</option>
                <option value="Dallas">Dallas</option>
                <option value="LosAngeles">Los Angeles</option>
                <option value="Portland">Portland</option>
            </select>
            <p class="language">Favorite Language:</p>
            <select name="Language" class="inputLanguage">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="Mean">Mean</option>
                <option value="Java">Java</option>
            </select>
            <p class=comment>Comment (optional):</p>
            <textarea name="Comment" class="inputComment"></textarea>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</body>
</html>