@using dojoSurveyy.Models
@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="survey">
        <form asp-action="Info" asp-controller="Home" method="POST">

            <span asp-validation-for="Name"></span>
            <label asp-for="Name" class="name">Your Name:</label>
            <input asp-for="Name" class="inputName">
            <br>

            <span asp-validation-for="Location"></span>
            <label asp-for="Location" class="location">Dojo Location:</label>
            <select asp-for="Location" class="inputLocation">
                <option value="Seattle">Seattle</option>
                <option value="Boise">Boise</option>
                <option value="Dallas">Dallas</option>
                <option value="LosAngeles">Los Angeles</option>
                <option value="Portland">Portland</option>
            </select>
            <br>

            <span asp-validation-for="Language"></span>
            <label asp-for="Language" class="language">Dojo Location:</label>
            <select asp-for="Language" class="inputLanguage">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="Mean">Mean</option>
                <option value="Java">Java</option>
            </select>
            <br>

            <span asp-validation-for="Comment"></span>
            <label asp-for="Comment" class="comment">Comment (optional):</label>
            <textarea asp-for="Comment" class="inputComment"></textarea>
            <br>

            <input type="submit" value="Submit" class="submit">
            
        </form>
    </div>
</body>
</html>