@using dojoSurveyy.Models
@model Survey


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted Info</title>
    <link rel="stylesheet" href="~/css/info.css">
</head>
<body>
    <div class="info">
        <h1 class="submittedInfo">Submitted Info</h1>
        @{
            <p class="name">Name:</p>
            <p class="submittedName">@Model.Name</p>
            <p class="location">Dojo Location:</p>
            <p class="submittedLocation">@Model.Location</p>
            <p class="language">Favorite Language:</p>
            <p class="submittedLanguage">@Model.Language</p>
            <p class="comment">Comment:</p>
            <p class="submittedComment">@Model.Comment</p>
        }
        <a class="goBack" href="/">Go Back</a>
    </div>

</body>
</html>